.button {
    -fx-font-weight: bold;
    -fx-font: sans-serif;
}


.my-tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: red;
}
.my-tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-color: blue;
}

/*#idButtonNew {
    -fx-background-image: url("/icons/Flat_Icons_21.png");
}*/

/*#idTAMessage_8 .content{
    -fx-border-radius: 10;
    -fx-background-color: #2fa02f, #2f2d2f;
    -fx-wrap-text: true;
    -fx-background-radius: 10;
}


#idTAMessage_7 .content{
    -fx-background-color: red;
    -fx-wrap-text: true;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}*/

.messageQ .content{-fx-border-radius: 10;
          -fx-background-color: #F7FCB1;
          -fx-wrap-text: true;
          -fx-background-radius: 10;}

.messageA .content{-fx-background-color: red;
          -fx-wrap-text: true;
          -fx-border-radius: 10;
          -fx-background-radius: 10;}